body{
    background-color: rgb(255, 255, 186);
}
.header{
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 10px;
    height: 150px;
    border-radius: 10px;
    background-color: #051136;
}
.navegacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    position: relative;
    display: inline-block;
}
.botonM{
    border: none;
    font-size: 20px;
    background-color: transparent;
    border-radius: 12px;
    color: white;
    width: 175px;
    margin-left: 5px;
    margin-right: 5px;
}
.botonM:hover{
    background-color: #a3b1da;
}
.cuadroOpciones{
    display: none;
    position: absolute;
    background-color: #334988;
    z-index: 1;
    align-items: center;
    text-align: center;
    align-content: center;
    border-radius: 13px;
    width: 175px;
}
.titulosB{
    color: white;
    padding: 10px;
    display: block;
    cursor: pointer;
    font-size: 13px;
}
.partners{
    height: 50px;
    width: 125px;
}
.titulosB:hover{
    background-color: #8dabff;
}
.show{
    display: block;
}
#opciones4{
    background-color: #a7bfff;
}
.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 30px;
    border-radius: 15px;
}
.slider img{
    width: 100%;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.previous{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade{
    from {opacity: .5;}
    to {opacity: 1}
}
.trabajoBH{
    background-color: #8497cc;
    margin-top: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}
.tituloSecc{
    font-size: 30px;
    color: white;
}
.parrafoSecc{
    font-size: 20px;
    text-align: justify;
    color: white;
}